climate==0.4.6
Cython==0.24
downhill==0.3.2
holidays==0.4.1
numpy==1.11.0
pandas==0.18.0
plac==0.9.1
python-dateutil==2.5.2
pytz==2016.3
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
sklearn==0.0
theanets==0.7.3
Theano==0.8.1
jupyter-client==4.2.2
jupyter-core==4.1.0
notebook==4.2.0